#player {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#metadata {
    position: absolute;
    left: 10px;
    top: 10px;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 16px; /* Set your desired font size */
    color: white; /* Or any color that fits your design */
    z-index: 10; /* Ensure it's on top of other elements */
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1); /* Adds a subtle drop shadow */
}

#play-icon {
    padding: 0;
    border: 0;
    background: inherit;
    cursor: pointer;
    outline: none;
    width: 120px;
    height: 120px;
    margin: 20px 2.5% 20px 2.5%;
}

path {
    stroke: #007db5;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5)); /* Add a drop shadow */
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 200px;
    background-color: transparent;

&:focus {
     outline-color: #f8b195;
 }
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    background: rgb(246, 114, 128);
    background: -webkit-linear-gradient(
            left,
            rgba(246, 114, 128, 1) 0%,
            rgba(192, 108, 132, 1) 50%,
            rgba(53, 92, 125, 1) 100%
    );
    background: linear-gradient(
            to right,
            rgba(246, 114, 128, 1) 0%,
            rgba(192, 108, 132, 1) 50%,
            rgba(53, 92, 125, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr="#f67280",
            endColorstr="#355c7d",
            GradientType=1
    );
}

input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: rgb(246, 114, 128);
    background: -moz-linear-gradient(
            left,
            rgba(246, 114, 128, 1) 0%,
            rgba(192, 108, 132, 1) 50%,
            rgba(53, 92, 125, 1) 100%
    );
    background: linear-gradient(
            to right,
            rgba(246, 114, 128, 1) 0%,
            rgba(192, 108, 132, 1) 50%,
            rgba(53, 92, 125, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr="#f67280",
            endColorstr="#355c7d",
            GradientType=1
    );
}

input[type="range"]::-ms-track {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: rgb(246, 114, 128);
    background: -moz-linear-gradient(
            left,
            rgba(246, 114, 128, 1) 0%,
            rgba(192, 108, 132, 1) 50%,
            rgba(53, 92, 125, 1) 100%
    );
    background: -webkit-linear-gradient(
            left,
            rgba(246, 114, 128, 1) 0%,
            rgba(192, 108, 132, 1) 50%,
            rgba(53, 92, 125, 1) 100%
    );
    background: linear-gradient(
            to right,
            rgba(246, 114, 128, 1) 0%,
            rgba(192, 108, 132, 1) 50%,
            rgba(53, 92, 125, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr="#f67280",
            endColorstr="#355c7d",
            GradientType=1
    );
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid #f8b195;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 8px;
    background: #222
    center no-repeat;
    background-size: 50%;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #f8b195;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 8px;
    background: #222
    center no-repeat;
    background-size: 50%;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #f8b195;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 8px;
    background: #222
    center no-repeat;
    background-size: 50%;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}